.button{
    display: flex;

    grid-area: contactMe;
    justify-content: center;
    align-items: center;
    

    button{
        background-color:var(--bg-primary);
        padding: 15px;
        border-radius: 8px;
        border-color: var(--text-secondary);
        color: var(--text-primary);
    }
    button:hover{
        color: #9ACD32;
        
    }
}