.container{
    
    padding: 40px 32px;
    display: grid;
    grid-template-rows: repeat(0);
    gap: 24px;
    grid-template-areas: 
    "header"
    "menuSocial"
    "contactMe"
    "experience"
    "projects"
    "info";
    margin-left: -5%;


}

@media (min-width: 768px){
    .container{
        padding: 70px 60px;
        height: 100vw;
        grid-template-rows: 10% 15%;
        grid-template-columns: 60% 30% ;
        grid-template-areas: 
        "header empt2 info"
        "menuSocial empt1 empt23"
        'experience projects aaa'
       
       
   
        
        ;
        align-items: center;
        justify-items: start;
        justify-content: space-between;
        height: 45vw;



    }
   
    
}
