


@media (min-width: 1000px){
    .blocoTop{
        display: flex;
     
        flex: 1;
        padding: 0px 50px;

        .inicio{
            
            flex: 1.5;
            height: 500px;
     
        }
        .meio{
          
            flex: 1;
            
        }
        .final{
            flex: 1;
      
            height: 500px;
            margin-top: -250px;
         
        }
        
    }
  
   
    
}
