.information{
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    grid-area: info;
    margin-bottom: 50px;
    
    p{
        color: var(--text-secondary);
    }
    .boxIconLanguage{
        
        
        width: 320px;
        display: flex;
        justify-content: start;
        align-items: flex-start;
        color:var(--text-secondary);
        gap: 15px;
        font-size: 8px;
        
        
    }
    
    
    
    .languages-info{
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: center;
        width: 100%;
    }
    span{
        color:var(--text-secondary)
    }

    @media(min-width: 1000px){
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;
        grid-area: info;

        .title{
       
            width: 320px;
        }
        
     
    }
}
.education-info{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    justify-content: center;
    align-items: center;
    gap: 24px;
}