.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    
    width: 100%;

    margin-bottom: 100px;
    margin-top: 50px;
    .title{
 
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        
        }

    .gallery {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        


        .swiper {
            width: 340px;
            height: 300px;
            
            
                       
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }
        .swiper-slide img {
            display: block;
            width: 100%;
            border-radius: 15px;
        }
        .button{
       
            margin-top: 50px;
            border: 1px solid var(--text-secondary);
            padding: 5px;
            border-radius: 4px;
            margin-bottom: 80px;
        }
        .textButon{
            color: var(--text-primary);
            text-decoration: none;
        }
       





    }
   
}


@media(min-width: 1000px){
    .projects{
     width:500px;
     padding: 0;
     margin: 0;
     padding-top: 51px;

    }
 }