.projects {
    grid-area: projects;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-left: -5%;
    .title{
    
        width: 100%;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        padding-left: 10%;
    }

    .gallery {
        display: flex;
        width: 100vw;
        justify-content: center;
        align-items: center;
        


        .swiper {
            width: 340px;
            height: 300px;
            
            
                       
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            border-radius: 15px;
        }





    }
}